---
import Layout from "../../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<script type="text/javascript">
  function create() {
    try {
      var accountData = new FormData();
      accountData.append("username", document.getElementById("username").value);
      accountData.append("email", document.getElementById("email").value);
      accountData.append("password", document.getElementById("password").value);

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "http://127.0.0.1:5000/account/create");
      xhr.send(accountData);

      return false;
    }
    finally {
      window.location.replace("/account/login");
    }
  }
</script>

<Layout>
  <form id="form" onsubmit="return create()">
    <label class="title">Create Account</label><br>
    <br>
    <label for="username">Username (Required):</label><br>
    <input class="item" type="text" id="username" name="username" required><br>

    <label for="username">Email (Required):</label><br>
    <input class="item" type="email" id="email" name="email" placeholder="you@example.com" required><br>

    <label for="password">Password (Required):</label><br>
    <input class="item" type="password" id="password" name="password" required><br>

    <input class="item" type="submit" id="submit" value="Create Account">
  </form>
</Layout>
<style>
  #form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
  }
  .title {
    font-weight: 700;
    font-size: 30px;
  }
  #username,
  #email,
  #password {
    width: 100%;
    height: 2em;

    padding: 1% 2%;
  }
  #submit {
    background-color: #fff;
    padding: 1% 2%;
  }
  #submit:hover {
    cursor: pointer;
  }
</style>

